


<h1 class="bcd"> Welcome </h1>

<% if current_customer && current_customer == @customer && !@current_restaurant_listed.empty? %> 


		<p class="hello"> Restaurants Listed <%= link_to @current_restaurant_listed.count %></p><br>

				<p class="abc"><% @current_restaurant_listed.each do |restaurant| %>
							Name: <%= restaurant.name %><br><br>
							<%= link_to "Remove", @restaurant, data: {:confirm => "Are you sure you want to 			cancel the reservation?"}, :method => :delete %><br>
				<%end%>



<% elsif current_customer && current_customer == @customer %>

	<!-- change the delete/cancel to change the status. it should not delete. It should just cancel the booking -->
		<p class="hello"> Total Reservations <%= @customer.reservations.count %></p><br>
		<p class="hello"> Current Reservations <%= @current_reservations.count %></p><br>

			<p class="abc"><% @current_reservations.each do |reservation| %>
					Name: <%= reservation.restaurant.name %> <br><br>

					<% if reservation.status == "reserved" %>
						<%= link_to "Cancel", @reservation, data: {:confirm => "Are you sure you want to 			cancel the reservation?"}, :method => :delete %><br>
					<%end%>
					<!-- change the delete/cancel to change the status. it should not delete. It should just cancel the booking -->

					Status: <%= reservation.status %><br><br>
					Time: <%= reservation.time %><br><br>
					People: <%= reservation.people %><br><br>
			<% end %>
			<p>

				<p class="hello"> Past Reservations <%= @past_reservations.count %></p><br>

				<p class="abc"><% @past_reservations.each do |reservation| %>
							Name: <%= reservation.restaurant.name %><br><br>
							Status: <%= reservation.status %><br><br>
							Time: <%= reservation.time %><br><br>
							People: <%= reservation.people %><br><br>
				<% end %>
				</p>

	<%end%>





























		


		






