<h1>Restaurants(<%= @restaurants.count %>)</h1>
<hr>
<% @restaurants.each do |restaurant| %>
  <%= image_tag 'http://placehold.it/200x200' %>
  <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
  <p>Average Rating: <%= restaurant.average_rating %></p>
  <p><%= restaurant.description %></p>
  <hr>
<% end %>

