<!DOCTYPE html>
<html>
<head>
  <title>Seat Yourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav data-uk-sticky class="nav-top uk-width-1 uk-navbar uk-navbar-attached uk-vertical-align-middle">
  <div class="uk-container uk-container-center">
    <%= link_to "Seat Yourself", root_path, class: "uk-navbar-brand" %>
    <div class="uk-navbar-flip">
      <ul class="uk-navbar-nav">
          <li><%= link_to "Home", root_path %></li>
          <% if current_customer %>
            <li><%= link_to "Profile", current_customer %></li>
            <li><%= link_to "Log out", session_path(current_customer), method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_customer_path %></li>
            <li><%= link_to "Log in", new_session_path %></li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>

<br>
<div class="uk-container uk-container-center">
  <div class="uk_width">
    <% if flash[:alert] %><div class="uk-alert uk-alert-warning"><%= flash[:alert] %></div><% end %>
    <% if flash[:notice] %><div class="uk-alert uk-alert-success"><%= flash[:notice] %></div><% end %>
  </div>
</div>
<br>

<div class="uk-container uk-container-center">
  <div class="uk-width" style="margin-top:10px;">
  	<%= yield %>
  </div>
</div>

</body>
</html>
