<!DOCTYPE html>
<html>
<head>
  <title>Seat Yourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav data-uk-sticky class="nav-top uk-width-1 uk-navbar uk-navbar-attached uk-vertical-align-middle">
  <div class="uk-container uk-container-center">
    <%= link_to "Seat Yourself", root_path, class: "uk-navbar-brand" %>
    <div class="uk-navbar-flip">
      <ul class="uk-navbar-nav">
          <li><%= link_to "Home", root_path %></li>
          <li><a href="">Profile</a></li>
          <li><a href="">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="uk-container uk-container-center">
  <div class="uk-width" style="margin-top:10px;">
  	<%= yield %>
  </div>
</div>

</body>
</html>
